// ------------------------------
// Facet Template: CSS > Colors
// ------------------------------

@color-swatch2-alt: darken(desaturate(@color-swatch2, 10%), 5%);

@color-swatch7-alt: lighten(saturate(@color-swatch7, 1%), 4%);
@color-swatch7-hover: darken(@color-swatch7, 10%);
